// Colours
$color__site--background: #fff;
$color__site--heading: #333;
$color__site--body: #000;
$color__feature--background: darken($color__site--background, 5%);
$color__site--captions: darken($color__site--heading, 50%);
$color__site--link: #48affd;
$color__site--link--hover: darken($color__site--link, 10%);
$color__site--link--current: desaturate($color__site--link, 100%);
$color__site--accent: #48affd;
