.post-tag {
  display: inline-block;
  /*background: rgba($color__site--link, 0.1);*/
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: $color__site--link;
  &:before {
    content: "\f02b";
    padding-right: .5em;
  }
  &:hover {
    text-decoration: none;
    background: rgba($color__site--link, 0.15);
  }
}
