.post-tag {
  display: inline-block;
  /*background: rgba($color__site--link, 0.1);*/
  padding-right: 0.5rem;
  border-radius: 4px;
  color: $color__site--link;
  &:before {
    content: "#";
  }
  &:hover {
    text-decoration: none;
    background: rgba($color__site--link, 0.15);
  }
}
