---
title: What When How & Why ?
layout: default
feature_text: |
      <h2 class="highlighted whitetext">What When How & Why ?</h2>
feature_image: https://c2.staticflickr.com/6/5811/20978819393_f156bdba7b_z.jpg
image: https://c2.staticflickr.com/6/5811/20978819393_f156bdba7b_z.jpg
---
{% include site-header.html %}

<main class="main  container">
    
    <div class="content">
        {% include post-list.html %}
    </div>

    {% include site-aside.html %}

</main>

{% include site-footer.html %}